{% extends "base.html" %} {%block body %}
<div class="container mt-5 w-50">
  <h2>Update {{course_info.title}}</h2>
  <form method="POST" novalidate>
    {{ form.hidden_tag() }}

    <!-- Code field -->
    <div class="mb-3">
      {{ form.code.label(class="form-label") }} {{
      form.code(class="form-control") }} {% if form.code.errors %}
      <div class="text-danger">
        {% for error in form.code.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- Title field -->
    <div class="mb-3">
      {{ form.title.label(class="form-label") }} {{
      form.title(class="form-control") }} {% if form.title.errors %}
      <div class="text-danger">
        {% for error in form.title.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- Description field -->
    <div class="mb-3">
      {{ form.description.label(class="form-label") }} {{
      form.description(class="form-control") }} {% if form.description.errors %}
      <div class="text-danger">
        {% for error in form.description.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- Credits field -->
    <div class="mb-3">
      {{ form.credits.label(class="form-label") }} {{
      form.credits(class="form-control") }} {% if form.credits.errors %}
      <div class="text-danger">
        {% for error in form.credits.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- Professor field -->
    <div class="mb-3">
      {{ form.professor.label(class="form-label") }} {{
      form.professor(class="form-control") }} {% if form.professor.errors %}
      <div class="text-danger">
        {% for error in form.professor.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Availability field -->
    <div class="mb-3">
      {{form.availability()}} {{ form.availability.label(class="form-label") }}
      {% if form.availability.errors %}
      <div class="text-danger">
        {% for error in form.availability.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Format field -->
    <div class="mb-3">
      {{ form.format.label(class="form-label") }} {{
      form.format(class="form-control") }} {% if form.format.errors %}
      <div class="text-danger">
        {% for error in form.format.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Max students field -->
    <div class="mb-3">
      {{ form.max_students.label(class="form-label") }} {{
      form.max_students(class="form-control") }} {% if form.max_students.errors
      %}
      <div class="text-danger">
        {% for error in form.max_students.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Update and Cancel buttons -->
    <div class="d-flex gap-2">
      {{ form.update(class="btn btn-primary") }}
      <a
        href="{{ url_for('courses.course_detail', course_id=course_info.id) }}"
        class="btn btn-danger border-danger-subtle"
        >Cancel</a
      >
    </div>
  </form>
</div>
{% endblock %}
