{% extends "base.html" %} {%block index %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <h1 class="display-5 fw-bold">Welcome to IntelliGrades, Students</h1>
  <p class="col-md-12 fs-4">
    IntelliGrades is an advanced LMS system that integrates smarter tools like
    assignment deadline notification reminders, GPA calculator, academic and
    course planning, collaborative tools like a live chat box/chatting channels
    in one simple and easy to navigate platform. Being an student has never been
    more fun!
  </p>
  {% if not current_user.is_authenticated %}
  <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-lg"
    >Get me started!</a
  >
  {% endif %}
</div>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Check your assignments</h2>
      <p class="fs-4">
        We take care of organizing your courses -- All your assignments in one
        place.
      </p>
      <button
        class="btn btn-outline-light"
        type="button"
        onclick="window.location.href='/assignments';"
      >
        Go to assignments
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
      <h2>Use our GPA calculator</h2>
      <p class="fs-4">
        See your current GPA, and calculate how it can change based on your
        grades.
      </p>
      <button
        class="btn btn-outline-secondary"
        type="button"
        onclick="window.location.href='/gpa';"
      >
        Explore your grades
      </button>
    </div>
  </div>
</div>
{% endblock %}
