.navbar {
  background-color: #3473a1;
}

.course-card {
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1rem;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pointer {
  cursor: pointer;
}
