.navbar {
  background-color: #2f323a;
}

.navbar *,
.navbar .nav-link.fw-bold {
  color: white;
}

body,
#whatifTable thead tr,
#whatifTable td,
#whatifTable th {
  background-color: #fafafa;
}

.course-card {
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1rem;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pointer {
  cursor: pointer;
}

.auth-form {
  max-width: 420px;
  margin: 0 auto;
  padding: 60px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.dropshadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.btn-primary {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}

.logo-intelli {
  color: #2a9d8f;
  font-weight: 600;
}

.logo-grades {
  background-color: #2a9d8f;
  color: #ffffff;
  padding: 0.25rem;
  border-radius: 0.35rem;
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}
