{% extends "base.html" %} {% block body %}
<form method="POST">
  {{ form.hidden_tag() }}

  <!-- Course dropdown -->
     <div class="mb-3">
      {{ form.course_id.label(class="form-label") }} {{
      form.course_id(class="form-control") }} {% if form.course_id.errors %}
      <div class="text-danger">
        {% for error in form.course_id.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>

  <!-- Title -->
     <div class="mb-3">
      {{ form.title.label(class="form-label") }} {{
      form.title(class="form-control") }} {% if form.title.errors %}
      <div class="text-danger">
        {% for error in form.title.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  

  <!-- Description -->
      <div class="mb-3">
      {{ form.description.label(class="form-label") }} {{
      form.description(class="form-control") }} {% if form.description.errors %}
      <div class="text-danger">
        {% for error in form.description.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  

  <!-- Due Date -->
      <div class="mb-3">
      {{ form.course_id.label(class="form-label") }} {{
      form.course_id(class="form-control") }} {% if form.course_id.errors %}
      <div class="text-danger">
        {% for error in form.course_id.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>

  <!-- Max Points -->
    <div class="mb-3">
      {{ form.max_points.label(class="form-label") }} {{
      form.max_points(class="form-control") }} {% if form.max_points.errors %}
      <div class="text-danger">
        {% for error in form.max_points.errors %}
        <small>{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    </div>

  <!-- Submit -->
  {{ form.submit }}
</form>

{% endblock %}
